:root {
  --font-family: 'Montserrat', sans-serif;
  --size-icons: 40%;
  font-size: 4vw;
}

img {
  stroke: white;
}

.main {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  background: rgb(9, 104, 128);
  background: linear-gradient(0deg, rgba(9, 104, 128, 1) 0%, rgba(0, 234, 255, 1) 100%);
}

@keyframes background {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.layer {
  width: var(--size-icons);
  height: var(--size-icons);
}

.main__title {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  color: #ffffff;
  background-color: red;
  font-family: var(--font-family);
  font-size: 1.7rem;
  user-select: none;
  width: 100%;
  height: auto;
  place-self: center center;
  white-space: nowrap;
  box-sizing: border-box;
}

.main__arrow-up {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  place-self: end center;
}

.main__book {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  place-self: center end;
}

.main__code {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  place-self: center start;
}

.main__cube {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
  place-self: end center;
}

.main__pen {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  place-self: start end;
}

.main__chrome {
  grid-row: 3 / 4;
  grid-column: 5 / 6;
  place-self: center center;
}

/* ---  Animacion --- */

.animation {
  animation: keyframes 4000ms steps(1000),
    cursorblink 0.8s infinite;
  overflow: hidden;
}

@keyframes keyframes {
  from {
    width: 0px;
  }

}

@keyframes cursorblink {
  from {
    border-right: 3px solid rgba(255, 255, 255, 0);
  }

  to {
    border-right: 3px solid rgb(255, 255, 255);
  }
}