:root {
  --font-family:'Open Sans', sans-serif;
  --size-icons: 40%;
  font-size: 4vw;
}

.main {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  animation: background 2000ms steps(1000);
  background-image: url(../img/background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes background {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.layer {
  width: var(--size-icons);
  height: var(--size-icons);
}

.main__title {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  color: #003A66;
  font-family: var(--font-family);
  font-size: 1.7rem;
  user-select: none;
  width: 100%;
  height: auto;
  place-self: center center;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0.2rem;
}

.main__arrow-up {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  place-self: end center;
}

.main__book {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  place-self: center end;
}

.main__code {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  place-self: center start;
}

.main__cube {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
  place-self: end center;
}

.main__pen {
  grid-row: 3 / 4;
  grid-column: 4 / 5;
  place-self: start start;
}

.main__chrome {
  grid-row: 3 / 4;
  grid-column: 5 / 6;
  place-self: center center;
}

/* ---  Animacion --- */

.animation {
  animation: keyframes 3000ms steps(1000),
    cursorblink 0.8s infinite;
  overflow: hidden;
}

@keyframes keyframes {
  from {
    width: 0px;
  }

}

@keyframes cursorblink {
  from {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }

  to {
    border-right: 4px solid #003A66;
  }
}