:root {
  --font-family: 'Poppins', sans-serif;
  font-family: var(--font-family);
  --space-cadet: #2D3764;
  --kinetic: #141423;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: var(--space-cadet);
  height: 83vh;
}

.main-container__title {
  font-size: 5.5vw;
  font-weight: 600;
  color: #f5f5f5;
  text-align: center;
}

.main-container__profile {
  display: flex;
  justify-self: center;
  width: 60%;
}

.footer-container {
  background-color: var(--kinetic);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 17vh;
}

.footer-container__title {
  font-size: 2rem;
  font-weight: 500;
  color: #f5f5f5;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.footer-container__network {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container__icons {
  width: 3%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: 300ms linear;
  margin-left: 2rem;
}

.footer-container__icons--nomargin {
  margin-left: 0;
}

.footer-container__icons:hover {
  background-color: #E65F5F;
}