:root {
  --font-family: 'Poppins', sans-serif;
  font-family: var(--font-family);
  --space-cadet: #2D3764;
  --kinetic: #141423;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--space-cadet);
  height: 80vh;
}

.main__title {
  font-size: 3.6rem;
  font-weight: 600;
  color: #f5f5f5;
  margin-bottom: 2rem;
  text-align: center;
}

.main__profile {
  display: flex;
  justify-content: center;
  width: 70%;
}

.footer {
  background-color: var(--kinetic);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
}

.footer__title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #f5f5f5;
  padding: 0 0 2rem 2.3rem;
}

.footer__network {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer__icons {
  width: 45%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}